<img src="assets/images/img-stranded-island.png" id="img-stranded-island" fname="img-stranded-island" style="width: 433px;"
    alt="A person standing in deserted island and need to survive by collecting wood and fish.">
	
<div class="overlay"></div>
<div class="firePit2 hidden" style="display: none;"></div>
<div class="pondFish hidden" style="display: none;"></div>
<div class="firePit"></div>
<div class="brush"></div>
<div data-aria-live="polite" class="fishcounter OpenSansFont12px">Fish :
    <span class="count">0</span> cals</div>
<div class="stickBarrelRaft"></div>
<div data-aria-live="polite" class="woodcounter OpenSansFont12px">Wood :
    <span class="count">0</span> logs</div>
<div class="fishBarrelRaft"></div>
<div class="castawaySprites1"></div>
<!-- raft animation -->
<div class="friday-raftSprites"></div>
<!-- lady animation -->
<div class="fridaySprites"></div>
<!-- lady animation -->
<div class="fishBarrelRaft2"></div>
<div class="dummy"></div>
<span class="comHght"></span>
<span class="comWdt">
</span>
<span class="comPos"></span>