<div>
    <h4 class="ds-heading">Tagesplan</h4>
    <div id="animation-slider" aria-label="Collect Wood 3 hr Collect Fish 7 hr">
        <img src="assets/images/slider-arrow.png" id="slider-arrow-day" alt="" style="left: 0px;">
        <div class="animate-slider3" style="width: 0%;"></div>
        <div class="animate-slider1" style="width: 30%;"></div>
        <div class="animate-slider2" style="width: 70%;"></div>
    </div>
    <div id="animate-slider-range">
        <span class="h_left">0 Std </span>
        <span class="h_right">12 Std</span>
    </div>
</div>