<p class="wood" role="text" aria-live="polite">Holz
    <strong>Sammeln</strong>:&nbsp;
    <span id="w_val">0</span>&nbsp;Std</p>
<div id="collect-wood">
    <input type="range" min="0" step="1" max="12" value="0" class="wood-slider" id="wood-range">
</div>
<p class="fish" role="text" aria-live="polite">Fische
    <strong>Fangen</strong>:&nbsp;
    <span id="f_val">0</span>&nbsp;Std</p>
<div id="collect-fish">
    <input type="range" min="0" step="1" max="12" value="0" class="fish-slider" id="fish-range">
</div>
<p class="graph">Tagesplan</p>
<div id="graph-div">
    <div class="colorful-slider3">&nbsp;</div>
    <div class="colorful-slider1">&nbsp;</div>
    <div class="colorful-slider2">&nbsp;</div>
</div>
<div id="graph-range">
    <span class="h_left">0 Std</span>
    <span class="h_right">12 Std</span>
</div>

<div id="graph-icon" role="text" aria-label="Legend: brown collect wood, red collect fish, gray idle">
    <ul id="graph-list">
        <li class="c-wood">
            <span>
                <div class="w-color"></div>
                <span>Holz Sammeln</span>
            </span>
        </li>
        <li class="c-fish">
            <span>
                <div class="f-color"></div>
                <span>Fische Fangen</span>
            </span>
        </li>
        <li class="c-idle">
            <span>
                <div class="i-color"></div>
                <span>Leerlaufzeit</span>
            </span>
        </li>
    </ul>
</div>
