<div class="top-slider-wrapper">
    <div id="ppfchart" style="display: none;">
        <h2 class="top-slider-heading">Produktionsmöglichkeitenkurve</h2>
        <div class="btnwrapper">
            <button class="imggraph">
                <img src="assets/images/icon-graph-format.png" alt="Production Possibilities Frontier Graph" >
            </button>
            <button class="imgtable">
                <img src="assets/images/icon-table-format.png" alt="Production Possibilities Frontier Table" >
            </button>
        </div>
        <div id="ppfcharttable_c" style="display: none;">
            <div class="tablewrapper">                
                <table class="userppftable ppftablestyle noheader">
                    <caption>Ihre Produktionsmöglichkeiten</caption>
                    <thead>
                        <tr>
                            <th>Zeit Holz Sammeln
                            </th>
                            <th>Zeit Fischen</th>
                            <th>Feuerholz (Scheite)</th>
                            <th>Fisch (Cal.)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0</td>
                            <td>12</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>11</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>10</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>9</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>8</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>7</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>6</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>5</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>4</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>3</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>1</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>0</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tablewrapper" style="display: none;">                
                <table class="fridayppftable ppftablestyle noheader">
                    <caption>Freitags Produktionsmöglichkeiten</caption>
                    <thead>
                        <tr>
                            <th>Zeit Holz Sammeln</th>
                            <th>Zeit Fischen</th>
                            <th>Feuerholz (Scheite)</th>
                            <th>Fisch (Cal.)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0</td>
                            <td>12</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>11</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>10</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>9</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>8</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>7</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>6</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>5</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>4</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>3</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>2</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>1</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>0</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="ppfchart_c"></div>
        <div class="instr_c">
            <div class="instrwrapper">
                <div style="float:left;width:auto;margin-top: 8px;">
                <span><i>Klicken Sie auf
                        <strong>“Schließen”</strong> um fortzufahren.</i>
                </span>
            </div>
            <div style="float:left;width:auto;"><input type="button"  class="btnclose" value="Schließen" /></div>
            </div>
        </div>
    </div>
    <div id="surpluschart" style="display: none;">        
        <div id="surpluscharttable_c">
            <div class="tablewrapper">
                <table class="tableNextDayInventory ppftablestyle">
                    <caption>Ihr Lagerbestand zu Beginn des Tages</caption>
                    <thead>
                        <tr>
                            <th>Vorrat</th>
                            <th>Beginn des Tages heute</th>
                            <th>Beginn des Tages gestern</th>
                            <th>Differenz</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="hs">Holz (Scheite)</td>
                            <td id="woodstartofdaytoday">0</td>
                            <td id="woodstartofdayyesterday">0</td>
                            <td id="wooddifference">0</td>
                        </tr>
                        <tr>
                            <td class="hs">Fisch (Cal.)</td>
                            <td id="fishstartofdaytoday">0</td>
                            <td id="fishstartofdayyesterday">0</td>
                            <td id="fishdifference">0</td>
                        </tr>
                    </tbody>
                </table>
                <table class="tableFridayInventory ppftablestyle">
                    <caption>Freitags Lagerbestand zu Beginn des Tages</caption>
                    <thead>
                        <tr>
                            <th>Vorrat</th>
                            <th>Beginn des Tages heute</th>
                            <th>Beginn des Tages gestern</th>
                            <th>Differenz</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="hs">Holz (Scheite)</td>
                            <td id="fridaywoodstartofdaytoday">0</td>
                            <td id="fridaywoodstartofdayyesterday">0</td>
                            <td id="fridaywooddifference">0</td>
                        </tr>
                        <tr>
                            <td class="hs">Fisch (Cal.)</td>
                            <td id="fridayfishstartofdaytoday">0</td>
                            <td id="fridayfishstartofdayyesterday">0</td>
                            <td id="fridayfishdifference">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="surpluschart_c"></div>
        <div class="instr_c">
            <div class="instrwrapper">
                <div style="float:left;width:auto;margin-top: 8px;"><span>
                    <i>Klicken Sie auf
                        <strong>“Schließen”</strong> um fortzufahren.</i>
                </span></div>
                <div style="float:left;width:auto;"><input type="button" class="btnclose" value="Schließen" /></div>
            </div>
        </div>
    </div>
</div>