<div class="tradepanel">
    <div class="graphwrapper">
        <h3 class="graphtitle">Your PPF</h3>
        <div class="graph" id="studenttradeGraph"></div>
    </div>
</div>
<div class="tradepanel">
    <div class="graphwrapper">
        <h3 class="graphtitle">Friday PPF</h3>
        <div class="graph" id="fridaytradeGraph"></div>
    </div>
</div>
<div class="tradepanel">
    <div class="slider-wrapper">
        <div class="stud-wrapper">
            <p>
                <strong>Terms of Trade</strong>
            </p>
            <p>What are the rules of trading?</p>
            <p role="text" aria-live="polite">1 Wood (logs) for:
                <span id="onewoodfor-fish">250</span> fish (cals)</p>
            <div class="tot-range-wrapper">
                <input type="range" min="0" step="1" max="200" value="0" class="tot-slider" id="onewoodfor-range">
                <div>
                    <span class="l_label">0</span>
                    <span class="r_label">200</span>
                </div>
            </div>
            <p>
                <strong>Trade</strong>
            </p>
            <p>How much do we trade?</p>
            <div class="Scenario0">
                <p role="text" aria-live="polite">Give wood (logs):
                    <span id="givewood-logs">5</span>
                </p>
                <div class="tot-range-wrapper">
                    <input type="range" min="0" step="1" max="50" value="0" class="tot-slider" id="givewood-range">
                    <div>
                        <span class="l_label">0</span>
                        <span class="givewood r_label">50</span>
                    </div>
                </div>
                <p role="text" aria-live="polite">Receive fish (cals):
                    <span id="receivefish-cals"></span>
                </p>
            </div>
            <div class="Scenario1" style="display: none">
                <p role="text" aria-live="polite">Give fish (cals):
                    <span id="givefish-cals">1250</span>
                </p>
                <div class="tot-range-wrapper">
                    <input type="range" min="0" step="1" max="6000" value="0" class="tot-slider" id="givefish-range">
                    <div>
                        <span class="l_label">0</span>
                        <span class="givefish r_label">6000</span>
                    </div>
                </div>
                <p role="text" aria-live="polite">Receive wood (logs):
                    <span id="receivewood-logs">5</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="tradepanel">
    <div class="slider-wrapper">
        <div class="friday-wrapper">
            <p>
                <strong>Consumption</strong>
            </p>
            <p></p>
            <p role="text" aria-live="polite">Collect Wood:
                <span id="consumption-wood"></span> logs</p>
            <div class="tot-range-wrapper">
                <input type="range" min="0" step="1" max="96" value="96" class="consumption-wood-range" id="consumption-wood-range">
                <div>
                    <span class="l_label">0</span>
                    <span class="consumption-wood r_label">96</span>
                </div>
            </div>
            <p role="text" aria-live="polite">Collect Fish:
                <span id="consumption-fish"></span> cals</p>
            <div class="tot-range-wrapper">
                <input type="range" min="0" step="1" max="6000" value="0" class="consumption-fish-range" id="consumption-fish-range">
                <div>
                    <span class="l_label">0</span>
                    <span class="consumption-fish r_label">6000</span>
                </div>
            </div>
        </div>
    </div>
    <div class="startbtnpanel">
        <center>
            <input class="btnstartslider" type="button" id="btnstartslider" value="Start" />
        </center>
    </div>
</div>